*{
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    display: inline-block;
    background-color: green;
    width: 100%;
    height: 50px;
  }

.fejlec li {
    display: inline;
  }

.fejlec a {
    color: white;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    vertical-align: center;
    font-size: larger;
}

h1 {
    color: green;
    font-weight: bold;
    padding-left: 20px;
}

h2 {
    color:green;
    font-weight: 200;
    background-color: beige;
    border-bottom: 2px solid lightgray;
}

.erdekessegek {
    padding-top: 10px;
    padding-left: 20px;
    width: 65%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "b f";
    float: left;
}

.erdekessegek img{
    width: 350px;
    padding: .4rem;
    border: 1.3px solid lightgray;
    border-radius: 10px;
}

p {
    font-size: larger;
}

.ford{
    grid-area: f;
    max-width: fit-content;
    float: left;
    padding: .4rem;
    border: 1.3px solid lightgray;
    border-radius: 10px;
}

.benz{
    grid-area: b;
    max-width: fit-content;
    padding: .4rem;
    border: 1.3px solid lightgray;
    border-radius: 10px;
}

.kepek{
    padding-top: 10px;
    padding-right: 3rem;
    display: grid;
    grid-area: i;
    justify-content: right;
}

.kepek img{
    width: 350px;
    height: 100%;
    padding: .4rem;
    border: 1.3px solid beige;
    border-radius: 10px;

}

footer {
    clear: both;
    position: relative;
    height: 20px;
    text-align: center;
    color: green;
}

